<div ng-controller="RecoverPasswordCtrl">
  <div  class="container inscription" style="margin-top:40px; margin-bottom:130px;">
    <div class="col-lg-offset-2 col-lg-8" style="border: 1px solid gray;">

        <div class="col-lg-12">
          <h4 style="height:25px;margin-top:20px; font-size: 15px; margin-bottom: 20px; border-bottom:1px solid gray;">MOT DE PASSE OUBLIER? </h4>
        </div> 
        <div class="loadingPage" ng-show="isLoading">
          <div class="col-lg-12" style="margin-top:40px;">
            <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">veuillez patienter, generation d'un nouveu mot de passe ...<p>
            <p style="margin-top:50;text-align:center;">
              <img src="assets/images/loading.gif">
            </p>
          </div>
        </div>
        <form ng-show="!isLoading" name="myForm" ng-submit="activerCompte()" novalidate class="form-horizontal formulaire" style="padding-top:20px; font-size:14px; margin-left:10px;">

            <div ng-show="infoGuide" class=" col-lg-12 message-ruban" style="background-color:rgba(0,0,0,0.7); height:60px; padding-left:20px;padding-left:20px;margin-bottom:20px;">
                  <div class="header row" style="padding-right:5px;padding-top:5px;" > <span class="pull-right" style="border-radius:50%;width:15px;height:15px;background-color:#416998;display: inline-block;text-align:center;font-size:12px; color:white";><p ng-click="closeInfoGuide()" style="margin-top:-2px;">x</p></span>
                  </div>
                  <div class="mesg" style="color:white;margin-bottom:10px; height:200px;">
                    <p style="text-align:center;font-size:16px; height:;font-style:italic;">  Veuillez entrer votre login (email/tel), il vous sera envoyer un nouveau mot de passe  </p>
                   <br>
                  </div>
            </div><br>
            
            <div ng-show="infoEchec" class=" col-lg-12 message-ruban" style="background-color:rgba(0,0,0,0.7); height:60px; padding-left:20px;padding-left:20px;margin-bottom:20px;">
                    <div class="header row" style="padding-right:5px;padding-top:5px;" > <span class="pull-right" style="border-radius:50%;width:15px;height:15px;background-color:#416998;display: inline-block;text-align:center;font-size:12px; color:white";><p ng-click="closeInfoEchec()"  style="margin-top:-2px;">x</p></span>
                    </div>
                    <div class="mesg" style="color:red;margin-bottom:10px; height:100px;font-style:italic;">
                      <p style="text-align:center;font-size:16px; height:100px;"> Votre Email/Tel ne correspond a aucun compte. </p>
                     <br>
                    </div>
            </div><br>

            <div ng-show="!hasSend">
              <div class="form-group">
               <span class="control-label col-lg-3" for="nom">Votre Email/Tel<sup>*</sup></span>
                <div class="col-lg-8">
                  <input type="text" name="login" ng-pattern="matchPatternLogin" ng-model="login" class="form-control no-radius" id="login" placeholder="Entrez votre email ou votre numero de telephone" ng-minlength="2" required>
                  <div class="error" ng-show="myForm.login.$invalid && myForm.login.$dirty">
                    <span ng-show="myForm.login.$error.required" style="color: red; font-text-decoration:italic;">
                      valeur requise
                    </span>
                    <span ng-show="myForm.login.$error.pattern" style="color: red; font-text-decoration:italic;">
                        Entrer une adresse email ou un numero de telephone valide
                    </span>
                  </div>
                </div>
              </div>
    
              <div class="form-group">
                <div class="col-lg-offset-3 col-sm-10">
                <button type="submit" ng-click="sendPassword()" style="background-color:#EE7600;" ng-disabled="myForm.$invalid" class="btn btn-warning no-radius">Envoyer</button>
              </div>
             </div>
            </div>

            <div ng-show="hasSend"> 
                <div class=" col-lg-12" style="" text-align:center;" >
                    <p style="text-align:center;"><button launch-modal no-radius" data-toggle="modal" href="#connection" style="background-color:#EE7600;"  class="btn btn-warning no-radius">Connecter vous</button></p></br>
                </div><br/>
            </div>

        </form>   
      </div>
  </div>
</div>

  


  


