<div ng-controller="ChangerPasswordCtrl" class="monCompte">
  <div class="container" style="margin-top:20px;">
    <div  class="row" >
          <div class="col-lg-12">
            <span style="color:gray;font-size:12px;">Accueil</span><span class="glyphicon glyphicon-chevron-right " style=" font-size:10px; margin-left:5px; margin-right:5px; color:gray;"></span><span style="color:black;font-weight:bold;font-size:12px;">Changer Mon mot de Passe</span>
          </div>
    </div>
   
    <div class="row" style="margin-top:20px;">
        <div class="col-lg-12">
            <h4 style="height:30px;border-bottom:1px solid gray;font-size:17px; margin-bottom:20px;">Mon compte</h4>
          </div>
    </div>

    <div class="row">
          <div class="col-lg-3 nav-gauche">
            <ul class="list-unstyled">
                <li> <a  href="profil.php"> MES INFORMATIONS PERSONNELLE</a></li>
                <li> <a style="color:#EE7600;"href="password.php"> CHANGER MON MOT DE PASSE</a></li>
                <li><a href="adresse.php"> MON ADRESSE </a></li>
                <li> <a href="favoris.php">MES FAVORIS</a> </li>
                <li><a href="mesCommande.php">MES COMMANDES</a> </li>
            </ul>
          </div>

          <div class="col-lg-8">
             <div class="row">
                <h4 style="height:30px;border-bottom:1px solid gray;font-size:16px; margin-bottom:20px;">Changer mon mot de passe
                </h4>
                <div ng-show="isLoading" style="text-align:center; margin-top:0px;">
                 <p style="margin-top:0px; font-size:16px;font-style:italic;">Modification du mot de passe ,veuillez patienter... </p>
                  <img src="assets/images/loading.gif">
                </div>
                
                <div ng-show="infoSucces" class=" col-lg-12 message-ruban" style="background-color:rgba(0,0,0,0.7); height:50px; padding-left:20px;padding-left:20px;margin-bottom:20px;">
                  <div class="header row" style="padding-right:5px;padding-top:5px;" > <span class="pull-right" style="border-radius:50%;width:15px;height:15px;background-color:#416998;display: inline-block;text-align:center;font-size:12px; color:white";><p ng-click="closeInfoSucces()"  style="margin-top:-2px;">x</p></span>
                  </div>
                  <div class="mesg" style="color:white;margin-bottom:10px; height:100px;font-style:italic;">
                    <p style="text-align:center;font-size:16px; height:100px;">  Mot de passe modifie avec succes </p>
                   <br>
                  </div>
                </div>
                <div ng-show="infoEchec" class=" col-lg-12 message-ruban" style="background-color:rgba(0,0,0,0.7); height:50px; padding-left:20px;padding-left:20px;margin-bottom:20px;">
                  <div class="header row" style="padding-right:5px;padding-top:5px;" > <span class="pull-right" style="border-radius:50%;width:15px;height:15px;background-color:#416998;display: inline-block;text-align:center;font-size:12px; color:white";><p ng-click="closeInfoEchec()"  style="margin-top:-2px;">x</p></span>
                  </div>
                  <div class="mesg" style="color:red;margin-bottom:10px; height:100px;font-style:italic;">
                    <p style="text-align:center;font-size:16px; height:100px;">  Le mot de passe ne correspond pas a votre compte </p>
                   <br>
                  </div>
                </div>

                <form ng-show="!isLoading" name="myForm" ng-submit="modifierPassword()" novalidate class="form-horizontal formulaire" style="padding-top:20px; font-size:14px; margin-left:10px;">
                    

                    <div class="form-group">
                      <span class="control-label col-lg-2" for="password">Ancien mot de passe<sup>*</sup></span>
                      <div class="col-lg-8">
                        <input type="password" name="modif_old_password" ng-model="modif_old_password" class="form-control no-radius" id="password" placeholder="Entrez votre ancien mot de passe"   required>
                        <div class="error" ng-show="myForm.modif_old_password.$invalid && myForm.modif_old_password.$dirty">
                          <span class="error" ng-show="myForm.modif_old_password.$error.required">
                          valeur requise 
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <span class="control-label col-lg-2" for="password">Nouveau mot de passe<sup>*</sup></span>
                      <div class="col-lg-8">
                        <input type="password" name="modif_new_password" ng-model="modif_new_password" class="form-control no-radius" id="password" placeholder="Entrez votre nouveau mot de passe"  ng-minlength="6" required>
                        <div class="error" ng-show="myForm.modif_new_password.$invalid && myForm.modif_new_password.$dirty">
                          <span class="error" ng-show="myForm.modif_new_password.$error.required">
                          valeur requise 
                          </span>
                          <span class="error" ng-show="myForm.modif_new_password.$error.minlength">
                             6 caracteres au moins
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <span class="control-label col-lg-2" for="rePassword">Confirmation du nouveau mot de passe<sup>*</sup></span>
                      <div class="col-lg-8">
                        <input type="password" name="modif_new_rePassword" ng-model="modif_new_rePassword"  class="form-control no-radius" id="rePassword" placeholder="confirmer votre nouveau mot de passe" required>
                        <div class="error" ng-show="myForm.modif_new_rePassword.$invalid && myForm.modif_new_rePassword.$dirty">
                          <span ng-show="myForm.modif_new_rePassword.$error.required">
                          valeur requise
                          </span>
                        </div>
                        <div  class="error" ng-show="modif_new_password!=modif_new_rePassword && myForm.modif_new_rePassword.$dirty">
                          <span>
                          mot de passe non identique
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-10">
                        <span style="font-weight:bold;"> * Champs requis</span>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-offset-3 col-sm-10">
                        <button type="submit" style="background-color:#EE7600;border-color:#EE7600;" ng-disabled="myForm.$invalid || disable" class="btn btn-warning no-radius">Soumettre la modification</button>
                      </div>
                    </div>
                  </form> 
              </div>
            </div>
          </div>
    </div>
</div>
