<div ng-controller="ProduitCtrl" id="produit">
  <div class="container"  style="min-height:600px;">

    <div class="loadingPage" ng-show="isLoading">
      <div class="col-lg-12" style="margin-top:40px;">
        <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">veillez patienter, chargement des données...</p>
        <p style="margin-top:50;text-align:center;">
        <img src="assets/images/loading.gif">
        </p>
      </div>
    </div>
  
    <div class="content" ng-show="!isLoading" style="min-height:600px;">

      <div ng-show="showMessage_ajout_favori"  class="row showMessage_ajout_detail" style="margin-top:10px;">
          <div class="col-lg-12 message-pan" style="background-color:rgba(0,0,0,0.7);color:white">
            <p style="">le produit {{selectedProduct.name}} a ete ajouter dans vos favoris</p>  
          </div>
      </div>

      <div ng-show="showMessage_ajout_detail"  class="showMessage_ajout_detail" style="margin-top:10px;">
          <div class="col-lg-12 message-pan" style="background-color:rgba(0,0,0,0.7);color:white">
            <p style="margin-bottom:10px;">le produit {{selectedProduct.name}} a été ajouté dans le panier avec succès </p>
            <p style="text-align:center;"><a href="panier.php"  style="color:white;background-color:#EE7600;font-weight:bold" type="button" class="btn  btn-sm no-radius">finaliser l'achat</a></p>
          </div>
      </div>

      <div ng-show="showMessage_ajout_detail_denied"  class="showMessage_ajout_detail" style="margin-top:10px;">
          <div class="col-lg-12 message-pan" style="background-color:rgba(0,0,0,0.7);color:white">
            <p style=" color:red;">Désole,le produit {{selectedProduct.name}} n'est plus disponible en stock, donc ne peut etre ajouter dans le panier</p>
          </div>
      </div>

      <div ng-show="showMessage_ajout_gros"  class="showMessage_ajout_detail" style="margin-top:10px;">
          <div class="col-lg-12 message-pan" style="background-color:rgba(0,0,0,0.7);color:white">
            <p style="margin-bottom:10px;">un lot de {{selectedProduct.retailSale.quantity}} {{selectedProduct.name}} a ete ajouter dans le panier avec succes</p>
            <p style="margin-top:-10px;">
             
            </p>

            <p style="text-align:center;"><a href="/#!/panier" ng-click=""  style="color:white;border-color:;font-weight:bold" type="button" class="btn btn-warning btn-sm no-radius">finaliser l'achat</a></p>
          </div>
      </div>

      <div ng-show="showMessage_ajout_gros_denied"  class="showMessage_ajout_detail" style="margin-top:10px;">
          <div  class="col-lg-12 message-pan" style="background-color:rgba(0,0,0,0.7);color:white">
            <p style="margin-bottom:10px;color:red;">Desole, lot de {{selectedProduct.retailSale.quantity}} {{selectedProduct.name}} plus disponible en stock, ne peut etre  ajouter dans le panier </p>
          </div>
      </div>
    
      <div class=" row" style="margin-top:10px;">

        <div  class="row" style="margin-top:0px;padding-bottom:10px; ">
          <div class="col-lg-12" style="border-bottom: 1px solid gray;padding-bottom:10px;">
            <span style="color:gray; font-size:12px;"><a style="color:gray;" href="" class="links">Accueil</a></span><span   class="glyphicon glyphicon-chevron-right " style=" font-size:8px; margin-left:5px; margin-right:5px; color:gray;"></span><span style="font-size:12px;"><a style="color:black; font-weight:bold;" href="" class="links"> {{selectedProduct.name}}</a></span>
          </div>
      </div>

      <div class="row" style="margin-top:20px;">

          <div class="col-lg-4">
            <a href="{{data_delayed.small_image}}" data-lity data-lity-desc="Photo of a flower">
              <img data-lity id="zoom_01" ng-elevate-zoom height="100%" width="100%" 
                   ng-src="{{data_delayed.small_image}}"
                   zoom-image="{{data_delayed.large_image}}" 
              /><br/>
            </a>

            <ul class="piclist" style="padding:0px;">
              
              <li ng-show="selectedProduct.idBigImage2!='null'">
                <img ng-click="changeImage(selectedProduct.idBigImage2)" src="images/load3.gif"  ng-src="{{baseUrl}}image/{{selectedProduct.idBigImage2}}">
              </li>

              <li ng-show="selectedProduct.idBigImage3!='null'">
                <img ng-click="changeImage(selectedProduct.idBigImage3)" src="images/load3.gif"  ng-src="{{baseUrl}}image/{{selectedProduct.idBigImage3}}">
              </li>

              <li ng-show="selectedProduct.idBigImage4!='null' ">
                  <img ng-click="changeImage(selectedProduct.idBigImage4)"  src="images/load3.gif"  ng-src="{{baseUrl}}image/{{selectedProduct.idBigImage4}}">
              </li>

              <li ng-show="selectedProduct.idBigImage1!='null'">
                  <img ng-click="changeImage(selectedProduct.idBigImage1)" src="images/load3.gif"  ng-src="{{baseUrl}}image/{{selectedProduct.idBigImage1}}">
              </li>

            </ul> 
          </div>

          <div class="col-lg-5" style="margin-left:-20px;">
            <div class="row" style="border-bottom: 1px solid gray;">
               <h1 style="font-weight:bold;color:#555;font-size:20px;">{{selectedProduct.name}}</h1>
                <h5 style="font-size:12px;margin-top:0px;"> par <a href="marque.php?marque={{selectedProduct.marque.name}}" >{{selectedProduct.marque.name}}</a> </h5>
                <div style="margin-top:-5px;font-size:12px;margin-bottom:10px; " class="row">
                  <div class="col-lg-4">
                          <i ng-class="selectedProduct.notation.note>=1 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>
                          <i ng-class="selectedProduct.notation.note>=2 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>
                          <i ng-class="selectedProduct.notation.note>=3 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>
                          <i ng-class="selectedProduct.notation.note>=4 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>
                          <i ng-class="selectedProduct.notation.note>=5 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>({{selectedProduct.notation.total}})
                  </div>
                  <div class="col-lg-8">
                  <a  launch-modal  data-toggle="modal" href="#avis">Noter/Commenter ce produit</a>
                  </div>

                 </div>
                 <div style="font-size:14px;margin-bottom:5px;"><a href="" ng-click="ajouterFavoris(selectedProduct)"><span class="fa fa-heart fa-lg" style="color:gray"></span> Ajouter dans mes favoris</a> </div>
                  <div class="col-lg-12 row " style="">
                   <ul class="social-network social-circle " >
                          Partager cet article 
                          <li><a  class="icoFacebook" title="Twitter"
                            href="#"
                            socialshare
                            socialshare-provider="facebook"
                            socialshare-text="Commander en securité "
                            socialshare-url="https://www.ounkoun.com/produit.php?nom={{selectedProduct.name}}"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a class="icoTwitter" title="Twitter"
                             href="#"
                             socialshare
                             socialshare-provider="twitter"
                             socialshare-text="Commander en securité et faite vous livrer dans les brefs detail le {{selectedProduct.name}}"
                             socialshare-url="https://www.ounkoun.com/produit.php?nom={{selectedProduct.name}}"
                            ><i class="fab fa-twitter"></i></a>
                          </li>  
                    </ul>   
                  </div>
            </div>
            
            <div class="detail-produit row" >
                <h5 style="font-weight:bold;">Details du produit</h5>
                <div class="col-lg-12" style="border-bottom: 1px solid gray;margin-bottom:5px;">
                  <ul class="list-unstyled" style="font-size:12px; font-color:gray;">
                        <li ng-repeat="detail in selectedProduct.detail"><span class="glyphicon glyphicon-chevron-right " style=" font-size:12px;color:gray;  margin-right:0px;"></span><span style="margin-left:5px;">{{detail.name}}: {{detail.value}}  </span>
                       </li>  
                  </ul>
                </div>
            </div>

            <div class="row" class="option-achat">
                
              <div class="col-lg-12">
              
                <div class="col-lg-12" style="padding-top:20px;" >
                      
                       <p ng-show="!selectedProduct.retailSale.isInPromotion"><span style="font-size:16px; font-weight:bold;">{{selectedProduct.retailSale.price| number:0}}FCFA</span>
                       </p>
                       <p ng-show="selectedProduct.retailSale.isInPromotion">
                          <span style="font-size:16px; font-weight:bold;">{{selectedProduct.retailSale.promotionalPrice | number:0}}FCFA</span><sub > <span style="font-size:10px;text-decoration:line-through;">{{selectedProduct.retailSale.price | number:0}}FCFA</span></sub>
                          <span ng-show="selectedProduct.retailSale.isInPromotion" style="border: 2px solid #ff7600;color:#ff7600;" class="">{{-(100-selectedProduct.retailSale.promotionalPrice/selectedProduct.retailSale.price*100)|number:0}}%</span>
                        </p>

                        <div class="row" style="margin-top:10px;">
                          <div class=" col-lg-4" >
                              <span  style=" font-size:14px;"> Choisir la quantite:</span>
                          </div>                      
                          <div class="col-lg-3">
                            <div  style="margin-right:0px; height:15px;width:80px;">
                              <select class="form-control no-radius" id="quantity" ng-init="retailQuantity= tabValuesDetailNumber[0]"   ng-model="retailQuantity" 
                               ng-options="option.val for option in tabValuesDetailNumber"  
                              >
                              </select>
                              <span style="color:red; font-size:10px;" ng-show="selectedProduct.quantity==0">stock epuiser</span> 
                            </div>
                        </div>
                        <div class="col-lg-5">
                          <button type="submit" style="background-color: #EE7600; color: white;"style="cor" ng-disabled="selectedProduct.quantity==0" ng-click="acheterEndetail(selectedProduct)" class="btn  no-radius">Ajouter dans le  panier
                          </button>
                        </div>
                      </div>
                    </div>
              </div>
            </div><br/>
            <div class="row" style="border-top: 1px solid gray;"  >
                <h5 style="font-weight:bold;" ng-show="otherModels.length>0 &&  selectedProduct.isVirtual ">Les tailles du produits
                </h5>

                <h5 style="font-weight:bold;" ng-show="otherModels.length>0 &&  !selectedProduct.isVirtual">Autres modèle du produits
                </h5>

                <div class="col-lg-12" style=""   >
                              <ui-carousel  
                                slides="otherModels"
                                slides-to-show="2"
                                slides-to-scroll="1"
                                initial-slide="1"
                                autoplay="true"
                                autoplay-speed="2000"
                                dots="false">
                                <carousel-item style=" margin-right: 10px;" ng-show="!item.isVirtual">
                                  <a ng-show="!item.isVirtual" href="produit.php?nom={{item.name}}"+ ><img  height="200" width="200" ng-src="https://node16375-ounkoun1.hidora.com/backend/web/app_dev.php/image/{{item.idImage}}">
                                  </a> 
                                  <p ng-show="!item.isVirtual" style="padding: 10px 30px 30px 30px; font-size: 12px; font-weight: bold;"> {{item.name}}</p>
                                </carousel-item>
                              </ui-carousel>
                </div>
            </div>
          
            
            
          </div>

          
          <div class="col-lg-2"  style="width:320px;" >
            <div class="row" style="background-color:rgb(251,251,251);border:1px solid #d3d3d3; margin-left: 50px; margin-top:20px;padding-top:20px; padding-bottom:20px;margin-right:;padding-left: 0px;padding-right: 0px;">
                

                  <div class="col-lg-12" style=" font-size: 14px; margin-top:10px;text-align:left;">
                    <div class="row">
                      <div class="col-lg-1" style="margin-left:"><i style="color:inherit; font-size:22px;" class="fas fa-money-check-alt" aria-hidden="true"></i>
                      </div>
                      <div class="col-lg-10" style="text-align: center;">
                        <div class="row" style="font-size:11px;font-weight:bold;margin-left: 10px;">PAIEMENT CASH A LA LIVRAISON POSSIBLE</div>
                      </div> 
                    </div>
                  </div>

                  <div class="col-lg-12" style=" font-size: 14px; margin-top:20px;text-align:left;">
                    <div class="row">
                      <div class="col-lg-1" style="margin-top:-6px;"><i style="color:inherit; font-size:22px;" class="fas fa-thumbs-up" aria-hidden="true"></i>
                      </div>
                      <div class="col-lg-10" style="text-align: center;">
                        <div class="row" style="font-size:11px;font-weight:bold;margin-left: 10px;">PRODUIT 100% AUTHENTIQUE</div>
                      </div> 
                    </div>
                  </div>

                  <div class="col-lg-12" style=" font-size: 14px; margin-top:20px;text-align:left;">
                    <div class="row">
                      <div class="col-lg-1" style=""><i style="color:inherit; font-size:22px;" class="fas fa-truck" aria-hidden="true"></i>
                      </div>
                      <div class="col-lg-10" style="text-align: center;">
                        <div class="row" style="font-size:11px;font-weight:bold;margin-left: 10px;">LIVRAISON PARTOUT AUX CAMEROUN
                        </div>
                      </div> 
                    </div>
                  </div>

                  <div class="col-lg-12" style=" font-size: 14px; margin-top:20px;text-align:left;">
                      <div class="row">
                        <div class="col-lg-1" style=""><i style="color:inherit; font-size:22px;" class="fas fa-undo" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10" style="text-align: center;">
                          <div class="row" style="font-size:11px;font-weight:bold; margin-left: 10px;">RETOUR GRATUIT SOUS 7 JOURS
                          </div>
                        </div> 
                      </div>
                    </div>
            </div>
            <div class="row" style="border:1px solid #d3d3d3; margin-left: 50px; margin-top:20px;padding-top:20px;background-color:rgb(251,251,251); padding-bottom:20px;padding-left: 0px;padding-right: 0px;" >
              <div class="col-lg-12" style="text-align:center;"> 
                <span style="font-weight: bold; font-size: 12px;">PRODUIT VENDU PAR:</span>
                <p style="font-size: 12px;"> <a href="boutique.php?nom={{selectedProduct.boutique.nom}}" >{{selectedProduct.boutique.nom}}</a> 

                </p>
              </div>
              <div class="col-lg-12" style="font-weight: bold;font-size:12px;text-align: center;">
                PARTAGER LA BOUTIQUE
              </div>
              <div class="col-lg-12 row " style="text-align: center;margin-top: 10px;">
                   <ul class="social-network social-circle " >
                          
                          <li><a  class="icoFacebook" title="Twitter"
                            href="#"
                            socialshare
                            socialshare-provider="facebook"
                            socialshare-text="Retrouver la boutique {{selectedProduct.boutique.nom}} sur Ounkoun.Commander en toute securité et faite vous livrer dans de bref delais"
                            socialshare-url="https://www.ounkoun.com/boutique.php?nom={{selectedProduct.boutique.nom}}"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a class="icoTwitter" title="Twitter"
                             href="#"
                             socialshare
                             socialshare-provider="twitter"
                             socialshare-text="Retrouver la boutique {{selectedProduct.boutique.nom}} sur Ounkoun.Commander en toute securité et faite vous livrer dans de bref delais"
                             socialshare-url="https://www.ounkoun.com/boutique.php?nom={{selectedProduct.boutique.nom}}"
                            ><i class="fab fa-twitter"></i></a>
                          </li>  
                    </ul>   
              </div>
            </div>
          </div>

          


        </div>

      <div class="row" style="margin-top:0px;"> 
          <ul  class="nav nav-tabs">
            <li class="active">
              <a data-target="#a" data-toggle="tab" style="overflow-x: hidden;font-size:14px;">Description</a>
            </li>
            <li><a data-target="#b" data-toggle="tab" style="font-size:14px;">Caracteristique</a>
            </li>
            <li><a data-target="#c" data-toggle="tab" style="font-size:14px;">Condition de retour</a>
            </li>
          </ul>
          <div class="tab-content clearfix" >

            <div class="tab-pane active" id="a">
              <br/>
              <p class="desc" style=" font-size:12px; word-wrap: break-word;" ng-bind-html="
              selectedProduct.description">
              </p>
            </div>
            <div class="tab-pane" id="b">
              <div class="col-lg-12" style="padding-top:10px;padding-left:50px;">
                
                <p style=" font-size:12px; word-wrap: break-word; background-color:blue;" >
                  <h5 style="font-weight:bold;">Caractistiques du produits</h5>
                  <ul class="list-unstyled" style="font-size:13px; font-color:gray; padding-left:20px;">
                      <li ng-repeat="car in selectedProduct.modelCar"><span class="glyphicon glyphicon-chevron-right " style=" font-size:10px;color:gray;  margin-right:0px;"> 
                      </span><span style="margin-left:5px; color:gray;font-size:14px;">{{car.name}}: {{car.value}} {{car.unity}} </span>
                     </li>
                     <li ng-repeat="car in selectedProduct.productCar"><span class="glyphicon glyphicon-chevron-right " style=" font-size:10px;color:gray;  margin-right:0px;"> 
                     </span><span style="margin-left:5px; color:gray;font-size:14px;">{{car.name}}: {{car.value}} {{car.unity}} </span>
                     </li>      
                  </ul>
                </p><br/><br/>
              </div>
            </div>

            <div class="tab-pane" id="c">
              <br>
              <h4 style="color:#EE7600;text-align: center;"> Politique de retour</h4>

              <p style=" text-align: justify;"> Tous les produits fournis à la société  OUNKOUN bénéficient de la garantie légale prévue par les articles 1641 et suivants du Code civil. En cas de non-conformité d’un produit vendu, il pourra être retourné à la société OUNKOUN qui le reprendra si les conditions de rétraction remplies, l’échangera ou le remboursera.
              </p>

              <p style=" text-align: justify;"> L’acheteur dispose d’un délai de rétractation de 7 jours à compter de la date de livraison. Passé ce délai toute demande de retour ne pourra plus malheureusement être accepté à moins que  le produit que vous souhaitez retourner ne  possède <span style="font-weight: bold;" id="garanti">une garantie </span>.Avant d’engager toute procedure  de retour le client devra prendre connaissance <span style="font-weight: bold;" id="retour"> des conditions de retours. </span>
              </p>

        <ol>
          <li style="font-weight: bold;"> Procédure de retour </li>
            <ol>
              <li>Vérifier si votre produit respecte les conditions de retour</li> 
              <li>Rédiger une de demande de retour </li> 
              <li>Contacter le service client savoir comment nous faire parvenir votre demande</li>
              <li>Faite nous parvenir le produit(s) plus votre demande</li>
              <li>Nous examinerons ensuite votre réclamation</li>
              <li>Si votre demande est validé vous serez rembourser ou votre produit sera remplacé</li>
            </ol><br>
          <li style="font-weight: bold;"> Condition de retour </li>
          <ol>
            <li style="font-weight: bold;"> Raison 1 : mauvais produit</li>
            <ol>
              <li>Condition 1 : produit scellé</li>
              <li>Condition 2 : produit neuf</li>
              <li>Condition 3 : produit complet</li>
              <li>Condition 4 : produit non endomagés</li>
              <li>Condition 5 : étiquette attachée au produit</li>  
            </ol>


            <li style="font-weight: bold;"> Raison 2 : produit endommagé</li>
            <ol>
              <li>Condition 1 : produit complet</li>
              <li>Condition 2 : étiquette attachée au produit</li>  
            </ol>

            <li style="font-weight: bold;"> Raison 3 : Produit défectueux  </li>
            <ol>
              <li>Condition 1 : produit complet</li>
              <li>Condition 2 : produit non endomagés</li>
              <li>Condition 3 : étiquette attachée au produit</li>  
            </ol>

            <li style="font-weight: bold;"> Raison 4 : Produit incomplet </li>
            <ol>
              <li>Condition 3 : produit complet</li>
              <li>Condition 3 : produit non endomagés</li>
              <li>Condition 4 : étiquette attachée au produit</li>  
            </ol>

            <li style="font-weight: bold;"> Raison 5 : Produit ne corresondant pas à celui affiché sur le site </li>
            <ol>
              <li>Condition 1 : produit scellé</li>
              <li>Condition 2 : produit neuf</li>
              <li>Condition 3 : produit complet</li>
              <li>Condition 4 : produit non endomagés</li>
              <li>Condition 5 : étiquette attachée au produit</li>  
            </ol>
          </ol><br><br>
        <li style="font-weight: bold;">Remboursement ou rmplacement  du produit ?</li>
          Si la demande de retour du client est approuvée, le produit sera remplacé ce dernier le désire et s’il  y en aura en stock ou alors s’il veut sera simplement rembourser.    
      </ol> 
            </div>
            <br/>
          </div>
        </div>
      </div>
      <div class="modal fade" id="avis" role="dialog" style="margin-top:50px; color:black;">
              <div class="modal-dialog">
                <div class="modal-content" style="height:520px;">
                  <div class="modal-header" style="background-color:gray;text-align:center;">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title" style="color:white">Noter et commenter le produits</h4>
                  </div>
                  <div class="modal-body">
                    <div class="loadingPage" ng-show="isLoadingNotation">
                      <div class="col-lg-12" style="margin-top:40px;">
                        <p style="text-align:center; font-size:16px; color:gray; font-style:italic;">Enregistrwmwnt de la notation,veuillez patienter...<p>
                        <p style="margin-top:50;text-align:center;">
                          <img src="assets/images/load3.gif">
                        </p>
                      </div>
                    </div>
                    <div ng-show="!isLoadingNotation" class="row">

                        <div class="col-lg-4">      
                          <p style="text-align:center;"><img src="assets/images/load3.gif"  ng-src="{{baseUrl}}image/{{selectedProduct.idImage}}" width="120" height="120"></p>         
                        </div>
                        <div class="col-lg-6"> 
                          <div class="presentation">
                            <h5 style=" padding-bottom:0px; color:gray; font-size:12px;">{{selectedProduct.marque.name}}
                            </h5>
                            <p style="font-weight:bold; font-size:12px; margin-top:-10px;">{{selectedProduct.name}}</p>
                          </div>
                          <div style="margin-top:-12px;margin-bottom:5px; font-size:12px;">
                              <i ng-class="selectedProduct.notation.note>=1 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>
                              <i ng-class="selectedProduct.notation.note>=2 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>
                              <i ng-class="selectedProduct.notation.note>=3 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>
                              <i ng-class="selectedProduct.notation.note>=4 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>
                              <i ng-class="selectedProductnotation.note>=5 ? 'light': 'no-light' "  class="fa fa-star fa-lg"></i>({{selectedProduct.notation.total}})
                          </div>
                        </div>

                        <div  class="divider1"></div>

                        <div class="col-lg-12">
                          <div class="col-lg-6">
                            <div class="col-lg-12"> <i style="color:#EE7600"  class="fa fa-star fa-lg"></i> Je deteste</div>
                            <div class="col-lg-12"><i style="color:#EE7600" class="fa fa-star fa-lg"></i><i style="color:#EE7600"  class="fa fa-star fa-lg"></i> Je n'aime pas</div>
                            <div class="col-lg-12"><i  style="color:#EE7600" class="fa fa-star fa-lg"></i><i style="color:#EE7600" class="fa fa-star fa-lg"></i><i style="color:#EE7600" class="fa fa-star fa-lg"></i> Bon produit</div>
                            <div class="col-lg-12"><i style="color:#EE7600" class="fa fa-star fa-lg"></i><i style="color:#EE7600"  class="fa fa-star fa-lg"></i><i style="color:#EE7600"  class="fa fa-star fa-lg"></i><i style="color:#EE7600" class="fa fa-star fa-lg"></i> J'aime</div>
                            <div class="col-lg-12"><i style="color:#EE7600" class="fa fa-star fa-lg"></i><i style="color:#EE7600" class="fa fa-star fa-lg"></i><i style="color:#EE7600" class="fa fa-star fa-lg"></i><i style="color:#EE7600"  class="fa fa-star fa-lg"></i><i style="color:#EE7600"  class="fa fa-star fa-lg"></i> J'adore</div>
                          </div>
                          <div class="col-lg-6">
                            <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                            <p style="margin-top:10px;">
                              <button  ng-click="sendNotation()"  style="background-color:;color:white;border-color:;font-weight:bold;width:175px;" type="button" class="btn btn-primary btn-sm no-radius">Valider votre notation
                              </button>
                            </p>
                          </div>
                        </div>

                        <div  class="divider2"></div>
                        <div class="col-lg-12" style="margin-top:40px;">
                          <div class=" col-lg -12 form-group">
                            <label for="exampleFormControlTextarea2">votre commentaire</label>
                            <textarea ng-model="commentaire" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                          </div>
                          <p>
                              <button  ng-click="sendComment()"  style="background-color:;color:white;border-color:;font-weight:bold;" type="button" class="btn btn-primary btn-sm no-radius">Sauvegarder le commentaire
                              </button>
                          </p>
                        </div>
                    </div> 
                  </div>
                </div>
              </div>
      </div>

      <div class="modal fade" id="taille" role="dialog" style="margin-top:50px; color:black;">
        <div class="modal-dialog">
          <div class="modal-content" style="height:520px;">
            <div class="modal-header" style="background-color:gray;text-align:center;">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title" style="color:white">Choix de la taille produits</h4>
            </div>
            <div ng-show="isLoadingSizeModal">
              <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">veuillez patienter, chargement des données...
              </p>
              <p style="margin-top:50;text-align:center;">
                <img src="assets/images/loading.gif">
              </p>
            </div> 
            <div ng-show="!isLoadingSizeModal" class="modal-body">
              <div style="text-align:center;color:gray;margin-bottom: 20px;">Veuillez ajouter  la taille du produit que vous desirer dans le panier.
              </div>
              <div  ng-repeat="item in otherModels" style=" margin-bottom: 10px">

                <div class="col-lg-12" style=";border-bottom: 1px solid gray;padding: 10px 10px 10px 10px;">
                  <div class="col-lg-6">
                      {{item.name}}
                  </div>
                  <div class="col-lg-6">
                      <button  ng-click="$event.preventDefault();acheterEndetail(item)" style="background-color:#EE7600;color:white;width:175px;" type="button" class=" btn btn-sm no-radius">Ajouter dans le panier</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      </div>
  </div>
  <div ng-include="'foot/foot.html'"> 
  </div>
</div>
  

  
  