<div ng-controller="InitPasswordConfirmCtrl"  class="init-password" style="min-height:800px; ">

  
  <div class="loadingPage" ng-show="isLoading">
          <div class="col-lg-12" style="margin-top:40px;">
            <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Veuillez patienter, creation du compte en cours...
            </p>
            <p style="margin-top:50;text-align:center;">
              <img src="images/load3.gif">
            </p>
          </div>
    </div>

  <div ng-show="!isLoading && isFinish" class="container" style="margin-top:60px; text-align:center; margin-bottom:100px;">
    <p style="text-align:center;font-size:18px;font-style:italic;">
               Votre mot de passe a été réinitialiser avec succes. 
    </p>   
    <button  style="background-color:#EE7600;" data-toggle="modal" href="#connection"  class="btn btn-warning no-radius">
        Connecter Vous
    </button>       
  </div>


  <div ng-show="!isLoading && !isFinish" class="container" style="margin-top:40px; margin-bottom:100px;">
      <div class="col-lg-offset-3 col-lg-6" style="border: 1px solid gray;">

          <div class="col-lg-12">
            <h4 style="height:35px;margin-top:20px; font-size: 15px; margin-bottom: 30px; border-bottom:1px solid gray;">REINITIALISATION DE VOTRE MOT DE PASSE
            </h4>
          </div> 


          <div ng-show="infoGuide" class=" col-lg-12 message-ruban" style="background-color:rgba(0,0,0,0.7); height:100px; padding-left:20px;padding-left:20px;margin-bottom:20px;">
                  <div class="header row" style="padding-right:5px;padding-top:5px;" > <span class="pull-right" style="border-radius:50%;width:15px;height:15px;background-color:#416998;display: inline-block;text-align:center;font-size:12px; color:white";><p ng-click="closeInfoGuide()" style="margin-top:-2px;">x</p></span>
                  </div>
                  <div class="mesg" style="color:white;margin-bottom:10px; height:100px;">
                    <p style="text-align:center;font-size:16px; height:100px;font-style:italic;">
                       Veuillez entrer le code qui vous a été envoyer et votre nouveau mot de passe
                    </p>
                   <br>
                  </div>
          </div>

          <div ng-show="infoEchec" class=" col-lg-12 message-ruban" style="background-color:rgba(0,0,0,0.7); height:60px; padding-left:20px;padding-left:20px;margin-bottom:20px;">
                  <div class="header row" style="padding-right:5px;padding-top:5px;" > <span class="pull-right" style="border-radius:50%;width:15px;height:15px;background-color:#416998;display: inline-block;text-align:center;font-size:12px; color:white";><p ng-click="closeInfoEchec()"  style="margin-top:-2px;">x</p></span>
                  </div>
                  <div class="mesg" style="color:red;margin-bottom:10px; height:60px;font-style:italic;">
                    <p style="text-align:center;font-size:16px; height:60px;"> Le code de reinitialisation est incorrect</p>
                   <br>
                  </div>
          </div><br>



          

        <form  name="myForm2" ng-submit="confirmInitPassword()" novalidate class="form-horizontal formulaire" style="padding-top:20px; font-size:14px; margin-left:10px;">

            <div class="form-group">
             <span class="control-label col-lg-3" for="code">Code de reéinitialisation<sup></sup></span>
              <div class="col-lg-8">
                <input type="input" name="code"  ng-model="code" class="form-control no-radius" id="code" placeholder="Entrer le code de réinitialisation" required>
                <div class="error" ng-show="myForm2.code.$invalid && myForm2.code.$dirty">
                  <span ng-show="myForm2.code.$error.required" style="color:red; text-decoration:italic;">
                    Valeur requise
                  </span>
                  
                </div>
              </div>
            </div>

            <div class="form-group">
             <span class="control-label col-lg-3" for="password">Nouveau mot de passe<sup></sup></span>
              <div class="col-lg-8">
                <input type="password" name="password"  ng-model="password" class="form-control no-radius" id="password" placeholder="Entrez votre nouveau mot de passe" ng-minlength="6" required>
                <div class="error" ng-show="myForm2.password.$invalid && myForm2.password.$dirty">
                  <span ng-show="myForm2.password.$error.required" style="color:red; text-decoration:italic;">
                    Valeur requise
                  </span>
                  <span ng-show="myForm2.password.$error.minlength" style="color:red; text-decoration:italic;">
                    6 caracteres au minimum
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-offset-3 col-sm-10">
                <button  style="background-color:#EE7600;" type="submit" ng-disabled="myForm2.$invalid" class="btn btn-warning no-radius">Soumettre le formulaire
                </button>
              </div>
           </div>
        </form>     
      </div>
    </div>

</div>



  


  


